body {
    width: 100%;
}


/*nav bar stylings*/

ul {
    float: right;
    font-weight: bold;
}

.header-image {
    width: 1366px;
    height: 284px;
}

li {
    display: inline;
    margin: 0px 3px;
}


/*about me/bio section*/

.about-me {
    background-color: #f7f7f7;
}

.personal-photo {
    width: 250px;
    height: 250px;
}


/*testing aligned images*/

img.align-left {
    float: left;
    margin-right: 10px;
}

img.align-right {
    float: right;
    margin-left: 10px;
}

img.medium {
    width: 250px;
    height: 250px;
}


/*education section*/

.education {
    background-color: #f7f7f7;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
}

.resume-pic {
    height: 340px;
    width: 440px;
}


/*portfolio section*/

.col-md-4 {
    padding-left: 32px;
}

.portfolio-section {
    background-color: #f7f7f7;
    padding-top: 10px;
}

#project-title {
    text-align: center;
}


/*footer section*/

footer {
    background-color: #f7f7f7;
}